* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #000000;
}

html {
    font-size: 62.5%;
}

html,
body {
    width: 100%;
    height: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.25rem;
}

.header {
    height: 6rem;
    padding-block: 2rem;
    font-size: 1.6rem;
    font-weight: 700;
}

.pc_nav {
    display: flex;
    justify-content: space-between;
}

.mob_nav {
    display: none;
}

.radio_wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--color-newTitle);
}

.radio_wrapper input {
    appearance: none;
    width: 1.6rem;
    height: 1.6rem;
    box-shadow: 0 0 0 0.2rem #999;
    border-radius: 50%;
}

.radio_wrapper input:checked {
    box-shadow: 0 0 0 0.2rem #1c1c1c;
    background-color: black;
    border: 0.3rem solid #fff;
}

.title_wrapper input,
textarea {
    width: 100%;
    padding: 1.2rem 1.6rem;
    border-radius: 0.8rem;
    border: 1px solid var(--button-detail);
    background-color: var(--color-white);
    color: var(--button-primary-bg);
}

textarea {
    min-height: 10.6rem;
}

.edit_wrapper {
    margin-top: 6.4rem;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1.6rem;
}


.txt_wrapper {
    margin-top: 2.4rem;
}

.txt_wrapper p {
    margin-bottom: 0.8rem;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--color-newTitle);
}

.title_wrapper {
    margin-bottom: 2.4rem;
}

.btn_wrapper {
    margin-block: 2.4rem;
    display: flex;
    justify-content: center;
    gap: 1.6rem;
}

.btn_wrapper button {
    width: 10.4rem;
    height: 4.8rem;
    padding: 0.8rem 1rem;
    border-radius: 0.8rem;
    font-size: 1.8rem;
    font-weight: 600;
    cursor: pointer;
}

.cancel {
    border: 1px solid var(--color-black);
    background-color: var(--color-white);
    color: var(--color-text);
}

.edit {
    background-color: var(--color-black);
    color: var(--button-secondary-bg);
    border: 1px solid var(--color-black);
}

.btn_wrapper button:hover {
    transform: scale(0.95);
}

.comment_wrapper {
    padding-top: 1.6rem;
    border-top: 1px solid var(--color-black);
}

.comment_wrapper h2 {
    font-size: 1.8rem;
    font-weight: 600;
}

.input_wrapper {
    display: flex;
    gap: 1.6rem;
    margin-block: 1.6rem;
}

.comment_wrapper input {
    border-radius: 0.8rem;
    width: 95%;
    padding: 1.2rem 1.6rem;
    height: 4.8rem;
    background-color: var(--input-bg);
    border: 1px solid var(--input-border);
}

#done {
    border-radius: 0.8rem;
    width: 5%;
    height: 4.8rem;
    background-color: rgb(199, 199, 199);
    border: 0;
}

.comment {
    display: flex;
    gap: 1.2rem;
    align-items: center;
    border-bottom: 1px solid var(--input-border);
    padding: 1.2rem;
}

.cmt {
    font-size: 1.6rem;
    letter-spacing: -0.01em;
    font-weight: 500;
}

.date {
    font-size: 1.6rem;
    color: rgb(119, 119, 119);
}

.comment:last-child {
    border-bottom: 0;
}

footer {
    background-color: var(--footer-bg);
    border-top: 1px solid #f0f0f0;
    padding: 3.75rem 0;
    margin-top: 6.25rem;
}


.footer_inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.footer_logo {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.logo_icon {
    font-size: 2rem;
}

.logo_text {
    font-size: 1.6rem;
    font-weight: 800;
    color: var(--footer-logoTxt);
}

.footer_info {
    text-align: right;
}

.owner {
    font-size: 1.3rem;
    color: var(--footer-owner);
    margin-bottom: 6px;
    font-weight: 600;
}

.copy {
    font-size: 1.1rem;
    color: var(--footer-copy);
    font-weight: 400;
}