* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;

}

a {
    text-decoration: none;
    color: #000000;
}

html {
    font-size: 62.5%;
}

html,
body {
    width: 100%;
    height: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.25rem;
}

.header {
    height: 6rem;
    padding-block: 2rem;
    font-size: 1.6rem;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
}

.banner {
    margin-block: 2.4rem;
    width: 100%;
}

.nav {
    height: 4.8rem;
    display: flex;
    gap: 1.6rem;
    margin-bottom: 2rem;

    position: sticky;
    top: 0;
    z-index: 50;
    background: var(--color-white);
    border-bottom: 1px solid var(--color-border);

}

.nav li {
    padding: 1.2rem 0.8rem;
    font-weight: 500;
    font-size: 1.8rem;
    color: var(--color-nav);
    cursor: pointer;
}

.nav li.on {
    border-bottom: 2px solid var(--color-black);
    font-weight: 700;
    color: var(--color-black);
}

.write_wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-bg);
    transition: background-color 0.5s;

    width: 64rem;
    border-radius: 16px;
    padding: 2.4rem;
    height: fit-content;
    flex-shrink: 0;
    /* ㄴ> Flex 컨테이너 안에서 너비가 부족하면,
    각 아이템은 자동으로 줄어들면서 공간을 나눠 가지는데 줄어들지 마라고 지정*/
}

.write_wrapper h2 {
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 4rem;
}

.feel_wrapper h3 {
    margin-bottom: 1.6rem;
    font-size: 2rem;
    font-weight: 600;
}

.radio_wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.radio_wrapper div {
    display: flex;
    gap: 0.8rem;
    align-items: center;
}

.radio_wrapper label {
    font-size: 1.6rem;
}

.input_wrapper {
    margin-block: 4rem 2.4rem;
    display: flex;
    flex-direction: column;
}

.input_wrapper span {
    font-size: 1.4rem;
    color: var(--color-newTitle);
    font-weight: 500;
    margin-bottom: 0.8rem;
}

.input_wrapper input {
    height: 4.8rem;
    border-radius: 0.8rem;
    padding: 1.2rem 1.6rem;
    border: 1px solid var(--button-detail);
    background-color: var(--color-white);
    color: var(--color-black);

}

textarea {
    height: 12.8rem;
    border-radius: 0.8rem;
    padding: 1.2rem 1.6rem;
    border: 1px solid var(--input-border);
    background-color: var(--color-white);
    color: var(--color-black);
}

.error {
    color: #ff4d4f;
    font-size: 12px;
    margin-top: 4px;
    font-weight: 500;
}

.btn_wrapper {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
}

.btn_wrapper button {
    cursor: pointer;
    border-radius: 0.8rem;
    font-weight: 600;
    width: 10.4rem;
    height: 4.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    border: 0;
    line-height: 1;
}

.btn_wrapper .close_btn {
    border: 1px solid var(--color-black);
    background-color: var(--color-white);
    color: var(--color-black);
}


.btn_wrapper .go_btn {
    background-color: var(--color-black);
    color: var(--color-white);
}



.modal_box button {
    font-size: 1.8rem;
    font-weight: 600;
}

.modal_box .close_btn {
    background-color: #f2f2f2;
    color: #333;
}

.modal_box .close_btn:hover {
    background-color: #e0e0e0;
}

.modal_box .go_btn {
    background-color: #e74c3c;
}

footer {
    background-color: var(--footer-bg);
    border-top: 1px solid #f0f0f0;
    padding: 3.75rem 0;
    margin-top: 6.25rem;
}


.footer_inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.footer_logo {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.logo_icon {
    font-size: 2rem;
}

.logo_text {
    font-size: 1.6rem;
    font-weight: 800;
    color: var(--footer-logoTxt);
}

.footer_info {
    text-align: right;
}

.owner {
    font-size: 1.3rem;
    color: var(--footer-owner);
    margin-bottom: 6px;
    font-weight: 600;
}

.copy {
    font-size: 1.1rem;
    color: var(--footer-copy);
    font-weight: 400;
}

#diary_list {
    display: grid;
    /* 최소 300px 유지, 공간 남으면 1fr로 똑같이 배분 */
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2.4rem;
}

.diaryCard {
    height: fit-content;
}

.diary_img {
    width: 100%;
    /* height: 28.5rem; */
    border-radius: 1.6rem;
    overflow: hidden;
}

.diary_img img {
    object-fit: cover;
    width: 100%;
}

img {
    max-width: 100%;
}

.diary_card {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    height: fit-content;
    transition: all 0.3s;
    padding-bottom: 1.6rem;
}

.diary_card:hover {
    transform: scale(1.02);
}

.diary_card:hover .diary_img {
    filter: blur(2px);
    transition: all 0.3s;
}

.diary_wrapper {
    display: flex;
    gap: 4rem;
    flex-direction: column;
}

.diary_flex {
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
}

.happy {
    color: #ea5757;
}

.sad {
    color: #28b4e1;
}

.sur {
    color: #d59029;
}

.ang {
    color: #777777;
}

.etc {
    color: #a229ed;
}

.diaryDate {
    font-size: 1.4rem;
    font-weight: 400;
    color: #919191;
}

.title {
    text-align: left;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2rem;
}

.diaryTitle {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.5rem;
    margin-top: 0.8rem;
    color: var(--color-black);
}

.select_wrapper {

    margin-bottom: 3.125rem;

}

.select_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.875rem 0;
    width: 100%;
    z-index: 1;

    flex-wrap: wrap;
    gap: 1.2rem;
}

/* 기분 체크박스 커스텀 */
.chk_wrapper {
    position: relative;
}

.feel_arr {
    position: absolute;
    top: 50%;
    transform: translateY(-58%);
    right: 1rem;
    width: 2.4rem;
    height: 2.4rem;
    filter: invert(0);
}

/* 스크롤 했을 때 화살표 흰색 */
.scrolled~.feel_arr,
.scrolled+ul+.feel_arr {
    filter: invert(1);
}

/* ㄴ> ~ : 형제요소를 찾음 (일기보관함 - scrolled가 붙은 input의 형제 중 feel_arr)*/
/* ㄴ> + : 가까운 형제요소를 찾음 (사진보관함 - scrolled가 붙은 input의 인접형제 ul의 인접형제인 feel_arr)*/

/* 다크모드면 무조건 화살표 흰색 */
.dark .feel_arr {
    filter: invert(1) !important;
}

/* 라이트모드일 때 */
.input_chk {
    min-width: 12rem;
    /* height: 4.8rem; */
    padding: 1.2rem 1rem;
    border-radius: 0.8rem;
    overflow: hidden;
    position: relative;
    appearance: none;
    font-size: 1.6rem;
    width: 100%;
    --기분필터링: '전체';
    background: var(--color-bg);
    color: var(--color-text);
    border: 1px solid var(--border-scroll);
    transition: all 0.3s;
}

/* 라이트모드일때 스크롤 */
.scrolled {
    background: #000;
    color: #fff;
}

/* 다크모드일 때  */
.dark .input_chk {
    background: #000;
    color: #fff;
}

/* 다크모드일때 스크롤 */
.dark .scrolled {
    background: #1a1a1a;
    color: #fff;
}

.input_chk::after {
    display: block;
    width: 100%;
    content: var(--기분필터링);
    z-index: 999;
    position: relative;
}

.input_chk:checked+ul {
    display: block;
}

.chk_wrapper ul {
    min-width: 12rem;
    border-radius: 0.8rem;
    border: 1px solid #c7c7c7;
    overflow: hidden;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    background-color: white;
    display: none;
    position: absolute;
    top: 6rem;
    left: 0;
    z-index: 2;
}

.chk_wrapper ul input {
    display: none;
}

.chk_wrapper ul label {
    font-size: 1.6rem;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-white);
}

.chk_wrapper ul label img {
    display: none;
    width: 1.6rem;
    height: 1.6rem;
}

.chk_wrapper ul label:hover {
    background-color: rgba(58, 181, 15, 0.05);
    font-weight: 700;
    color: #299c00;
}

.chk_wrapper ul label:hover img {
    display: block;
}

/* 네비게이션 사진보관함 */
.pic_select {
    display: none;
    width: 100%;
}

.pic_inner {
    width: fit-content;
    position: relative;
    padding: 0.875rem 0;
}

.pic_select .pic_chk {
    min-width: 12rem;
    appearance: none;
    padding: 1.2rem 1rem;
    border-radius: 0.8rem;
    border: 1px solid #c7c7c7;
    overflow: hidden;
    position: relative;
    --aspect-ratio: '기본형';
    color: var(--color-text);
    background: #fff;
    transition: all 0.3s;
}

/* 라이트 스크롤 */
.pic_select .pic_chk.scrolled {
    background: #000;
    color: #fff;
    border-color: #000;
}

/* 다크 기본 */
.dark .pic_select .pic_chk {
    background: #000;
    color: #fff;
}

/* 다크 + 스크롤 */
.dark .pic_select .pic_chk.scrolled {
    background: #1a1a1a;
    /* 살짝 밝은 블랙 */
    border-color: #555;
}

.pic_select .pic_chk::after {
    content: var(--aspect-ratio);
    font-size: 1.6rem;
    color: inherit;
}

.pic_chk+ul {
    min-width: 12rem;
    border-radius: 0.8rem;
    border: 1px solid #c7c7c7;
    overflow: hidden;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    background-color: var(--color-white);
    display: none;
    position: absolute;
    top: 7rem;
    left: 0;
    z-index: 1;
}

.pic_chk:checked+ul {
    display: block;
}

.pic_chk+ul li {
    display: flex;
    align-items: center;
}

.pic_chk+ul input {
    appearance: none;
}

.pic_chk+ul img {
    display: none;
    width: 1.6rem;
    height: 1.6rem;
}

.pic_chk+ul label {
    font-size: 1.6rem;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.pic_chk+ul label:hover {
    background-color: rgba(58, 181, 15, 0.05);
    font-weight: 700;
    color: #299c00;
}

.pic_chk+ul label:hover img {
    display: block;
}

/* 일기 등록 모달창 */
#modal_add {
    background-color: var(--color-black);
    width: 11rem;
    height: 4.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.8rem;
    color: var(--color-white);
    font-size: 1.6rem;
    font-weight: 600;
    cursor: pointer;
    border: 0.1px solid var(--color-black);
}

#modal_add img {
    width: 2.4rem;
    filter: invert(0);
}

.dark #modal_add img {
    filter: invert(1);
}

#modal_add p {
    line-height: 1;
}

#modal_wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
    z-index: 999;
}

.m_bg {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}



#commonModal {
    position: fixed;
    inset: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}

#commonModal .m_bg {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
}



.modal_box {
    width: 48rem;
    background-color: var(--bg-new);
    padding: 2.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2.4rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal_btn_wrapper {
    display: flex;
    gap: 1.6rem;
    margin-top: 20px;
    justify-content: center;
}

.modal_btn_wrapper button {
    width: 10.4rem;
    height: 4.8rem;
    color: white;
    background-color: black;
    border-radius: 0.8rem;
    border: 0;
    cursor: pointer;
}

.modal_box h2 {
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--color-black);
}

.modal_box p {
    font-size: 2rem;
    font-weight: 500;
    margin-block: 1.125rem 1.5rem;
    color: var(--color-black);
}



.img_wrapper {
    position: relative;
}

.delete {
    position: absolute;
    top: 1.2rem;
    right: 1.2rem;
    width: 2.2rem;
    height: 2.4rem;
}


.goTop_wrapper {
    position: relative;
}

#goTop {
    position: fixed;
    bottom: 4rem;
    right: 4rem;
    width: 4rem;
    height: 4rem;
    cursor: pointer;
}

.pic_wrapper {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25rem;
}

#picDog {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.skeleton_wrapper {
    max-width: 50rem;
    border-radius: 2.4rem;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 2.4rem;
    overflow: hidden;
    position: relative;
}

.skeleton {
    position: absolute;
    width: 100px;
    height: 1000px;
    transform: rotate(45deg);
    top: -100%;
    left: 0%;
    background-color: #fff;
    filter: blur(30px);
    animation: skeleton 1s infinite;
    overflow: hidden;
}


@keyframes skeleton {
    0% {
        top: -100%;
        left: 0%;
    }

    100% {
        top: 100%;
        left: 100%;
    }
}

.skeleton_bg {
    width: 100%;
    height: 100%;
    background-color: #ccc;
}



.radio_wrapper input {
    appearance: none;
    width: 1.6rem;
    height: 1.6rem;
    box-shadow: 0 0 0 0.2rem #999;
    border-radius: 50%;
}

.radio_wrapper input:checked {
    box-shadow: 0 0 0 0.2rem #1c1c1c;
    background-color: black;
    border: 0.3rem solid #fff;
}


.feel_search_wrapper {
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.search_wrapper {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.8rem;
    border: 1px solid #c7c7c7;
    border-radius: 10rem;
    padding: 1.2rem 1.6rem;
    background-color: var(--color-white);
}

.search_wrapper input {
    border: 0;
    outline: 0;
    font-size: 1.6rem;
    font-weight: 500;
    background: var(--color-white);
}

.search_wrapper input::placeholder {
    color: #ABABAB;
}

.search_wrapper img {
    width: 2.4rem;
    height: 2.4rem;
}

.page_wrapper {
    margin-top: 5rem;
}

.page_wrapper,
#pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
}

#pagination button {
    width: 32px;
    height: 32px;
    background-color: white;
    font-size: 1.6rem;
    border: 0;
    border-radius: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

#pagination button.active {
    background-color: #f2f2f2;
    font-weight: 600;
}

.page_l,
.page_r {
    filter: invert(1);
}

.no_data {
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem 0;
    font-size: 1.8rem;
    color: #bbb;
    font-weight: 500;
}

/* 토스트 */
.toast {
    position: fixed;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    background: #000;
    color: #fff;
    padding: 0.75rem 1.5rem;
    border-radius: 10px;
    font-size: 14px;
    opacity: 0;
    transition: all 0.3s;
    z-index: 9999;
    pointer-events: none;
}

.toast.show {
    opacity: 1;
}

/* 모달 열릴 때 스크롤 막기 */
.no-scroll {
    overflow: hidden;
}